<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="selectedRecipe; else elseText"
      [selectedRecipe]="selectedRecipe"
    >
    </app-recipe-detail>
    <ng-template #elseText>
      <p class="mt-5">Please Select Recipe</p>
    </ng-template>
  </div>
</div>
